body {
  padding: 30px;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5px;
}

img {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-size: 14.5px;
}
